
body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(43, 43, 43);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}






  
  #navbar #nav{
    float: left;
    padding-top: 15px;
  }
  li{
    list-style: none;
    display: inline-block;
    padding-right: 40px;
  }
  li a{
    text-decoration: none;
    color: rgb(255, 249, 241);
    font-size: 18px;
  }
  li a:hover{
    color: rgb(185, 112, 112);
    font-size: xx-large;
   
  }
  .logo {
    float: left;
  }
  
  .dropdown{
    text-decoration: none;
    color: rgb(255, 249, 241);
    font-size: 18px;
    padding-right: 5px;
  }
  
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 16px;
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 5px;
    text-decoration: none;
    display: block;
    background-color: rgb(83, 83, 83);
  }
  
  
  .dropdown-content a:hover {
    background-color: #c56262;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    font-size: xx-large;
  }
  
  
  
  .dropdown:hover .a {
    color: rgb(18, 176, 224);
  }







  .header h1 {
    font-size: 70px;
  }
  
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 200vh;
  }
  
  section {
    height: 100vh;
    width: 200vh;
    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  .one {
    max-width: 100%;
    height: 75%;
    font-size: x-large;
    background-color: #f9f9f9;
    
    
  }
  
  .two {
    background-color: rgb(46, 44, 44);
    
  }
  







  /* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the body and html to take full height */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Make content container flex-grow to take up remaining space */
.content {
    flex: 1;
    padding: 20px;
    /* Additional styling for your content */
}

/* Footer Styling */
.footer {
    background-color: #333;
    color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content h3 {
    font-size: 24px;
    margin: 10px 0;
}

.footer-content p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.socials {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.socials li {
    display: inline-block;
    margin: 0 10px;
}

.socials li a {
    color: #f9f9f9;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.socials li a:hover {
    color: #4CAF50;
}

.footer-bottom {
    margin-top: 10px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}